html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    /*outline: 0;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
    background: transparent;
}

html, body {
	height: 100%;
	width: 100%;
}

/*NAVIGATION BAR*/

header {
	height: 100px;
	width: 100%;
	padding-left: 30px;
	text-align: left;
	margin: 0;
	float: left;
	position: fixed;
	z-index: 51;
	background: transparent;
}	

nav {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	float: left;
}

header ul { 
	float: left; 
}

header li { 
	display: inline; 
	float: left;
	margin-right: 30px;
}

header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Maven Pro', sans-serif;
}

header li#nav-home a {
	color: transparent;
	font-family: 'Lato', sans-serif;
	pointer-events: none;
}

header a.active, header a:hover, header.enlarge li#nav-home a:hover {
	text-decoration: none;
	color: #efa69f;
	font-weight: bold;
}

header.large {
	height: 120px;
	border-bottom: 1px solid transparent;
}

header.large li {
	margin-top: 45px;
	height: 100%;
}

header.large li#nav-home a {
	margin-right: 1290px;
}

header.small {
	height: 60px;
	background: #333;
	border-bottom: 1px solid grey;
}


header.small li {
	margin-top: 19px;
	height: 100%;
}

header.small li#nav-home a {
	color: white;
	pointer-events: all;
	float: left;
	margin-right: 1290px;
}

header.enlarge {
	height: 75px;
	background: #333;
	border-bottom: 1px solid grey;
}

header.enlarge li {
	margin-top: 26px;
	height: 100%;
}

header.enlarge li#nav-home a {
	pointer-events: all;
}

header, nav, li, a {
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
}

 nav, a, li {
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
}

/*BANNER*/

#banner {
	position: relative;
	height: 980px;
	width: 100%;
}

#content_layer {
	height: 980px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-content: center;
	background: #f9654a;
	align-items: center;
}

.bannertext {
	position: relative;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: transparent;
}

/*SKILLS*/

#content_layer2 {
	position: relative;
	height: 980px;
	width: 100%;
}

#skills {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	height: 980px;
	width: 100%;
	background-color: white;
	text-align: center;
	margin: 0;
	position: relative;
}

section#skills div#content_layer2 > h2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	color: #333;
	padding: 20px;
	margin-left: 800px;
	margin-right: 800px;
}

section#skills div#content_layer2 > div {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
}

section#skills div#content_layer2 > p {
	font-family: 'Maven Pro', sans-serif;
	font-size: 28px;
	color: #333;
	padding-bottom: 40px;
}

.img-contain {
	max-height: 100px;
	max-width: 100px;
}

/*SOCIAL*/

#content_layer3 {
	position: relative;
}

#social {
	background: white;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 980px;
	width: 100%;
	text-align: center;
	position: relative;
}

section#social:first-child {
	background: #f9654a;
	background-size: cover;
	height: 980px;
	width: 100%;
}

section#social > div h2 {
	font-family: 'Lato', sans-serif;
	font-size: 33px;
	color: white;
	padding-top: 90px;
	padding-bottom: 15px;
	margin-left: 559px;
	margin-right: 559px;
}

section#social > div > p {
	font-family: 'Corbel', sans-serif;
	font-size: 23px;
	color: rgba(250, 250, 250, 0.6);
	padding-top: 20px;
}

section#social > div a {
	padding-left: 50px;
	padding-right: 50px;
	font-size: 90px;
	text-decoration: none;
	color: #f9654a;
}

section#social > div span {
	font-family: 'Pacifico', sans-serif;
	font-size: 40px;
	color: #333;
	display: flex;
	justify-content: center;
	padding-top: 45px;
	padding-bottom: 5px;
}

section#social > div div {
	display: inline-block;
}

section#social > div ul div li {
	list-style: none;
}

section#social > div ul div li a:hover {
	color: skyblue;
}

section#social > div ul div {
	padding-left: 40px;
	padding-right: 40px;
}

section#social > div ul div li p {
	font-family: 'Corbel', sans-serif;
	font-size: 18px;
	color: grey;
} 

section#social > div ul div li h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #333;
}

.name {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: white;
	padding-top: 15px;
}

.profession {
	font-family: 'Corbel', sans-serif;
	color:  rgba(250, 250, 250, 0.6);
	font-size: 15px;
	width: 200px;
	padding-bottom: 15px;
	margin: 0 auto;
}

/*PORTFOLIO*/

#portfolio {
	height: 980px;
	width: 100%;
	background-color: #555;
	text-align: center;
	margin: 0;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	position: relative;
}

section#portfolio > div h2 {
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	color: white;
	padding-top: 100px;
	margin-left: 800px;
	margin-right: 800px;
}

section#portfolio > div p {
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	color: white;
}

.project-row {
	padding-top: 160px;
	display: flex;
	justify-content: center;
}

.project {
	height: 300px;
	width: 350px;
	border: 1px solid #ffd799;
	background: url(images/debtpayback.png) no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	display: flex;
  	justify-content: center;
}

.project div {
	height: 100%;
	width: 100%;
}

.project div > span {
	padding-top: 35%;
	font-size: 50px;
	color: transparent;
	position: relative;
	height: 100%;
	width: 100%;
}

.project-list {
	padding: 20px;
}

.project-name {
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	color: #f9654a;
}

.project-description {
	padding: 10px;
	font-family: 'Corbel', sans-serif;
	font-size: 18px;
	color: white;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}

.project div:hover {
	background: rgba(250, 128, 115, 0.5);  
	color: white;
}

.project div > span:hover {
	color: white;
	animation-name: animateproject;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 1;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: 4 ease-out webkit-transform .5;
}

@keyframes animateproject {
	0% {
		color: transparent;
		font-size: 25px;
	}

	50% {
		color:transparent;
		font-size: 25px;
	}

	100% {
		color: white;
		font-size: 50px;
	}
}

/*CONTACT*/

#contact {
	height: 855px;
	width: 100%;
	margin: 0;
	background: #f9654a;
	position: relative;
}

.contact-background {
	height: 855px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
}

.letter-image {
	height: 28px;
	width: 47px;
	padding: 10px;
	background: url(images/letter2.png) center no-repeat;
	background-color: white;
	border-radius: 7px;
	position: absolute;
	left: 918px;
	top: 277px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.emailForm {
	padding-top: 100px;
	padding-left: 90px;
	margin: 0 auto;
	height: 400px;
	width: 1100px;
}

section#contact h3 {
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	color: white;
	padding-top: 100px;
	padding-bottom: 20px;
	margin-left: 800px;
	margin-right: 800px;
	text-align: center;
}

section#contact p {
	font-family: 'Corbel', sans-serif;
	font-size: 20px;
	color: rgba(250, 250, 250, 0.7);
	margin-left: 800px;
	margin-right: 800px;
	text-align: center;
}

section#contact input {
	height: 20px;
	width: 450px;
	border-radius: 3px;
	padding: 17.3px;
	margin: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: black;
	background: #dcffec;
	border: grey 1px solid;
}

section#contact textarea {
	height: 165px; 
	width: 450px;
	padding: 11px;
	border-radius: 3px;
	margin: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: black;
	background: #dcffec;
	position: absolute;
	border: grey 1px solid;
}

input[type=text]:focus, textarea:focus {
  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid rgba(81, 203, 238, 1);
}

button.submit {
	height: 60px;
	width: 300px;
	background: white;
	padding: 23px;
	border-radius: 7px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20px;
	border: none;
	color: rgba(30, 30, 30, 0.2);
	line-height: 50%;
	margin-left: 360px;
}


button:hover {
	box-shadow: 0 0 5px rgba(255, 215, 0, 1);
	cursor: pointer;
	background: white;
	color: forestgreen;
}

::-webkit-input-placeholder {
   color: #777;
}

/*FOOTER*/

.footer {
	border-top: 1px solid #333;
	background: #333;
	height: 75px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
}

section.footer div {
	position: relative;
}

.foot-container {
	padding-left: 40px;
}

section.footer > div > a {
	font-family: 'Pacifico', sans-serif;
	color: white;
	font-size: 32px;
	text-decoration: none;
	position: relative;
}

section.footer > div a:hover {
	color: #efa69f;
}

.foot-container2 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 19px;
	color: white;
	padding-right: 40px;
	padding-top: 22px;
}

section.footer > div > ul li {
	display: inline;
}

section.footer > div > ul li a {
	padding-right: 20px;
	font-size: 30px;
	color: white;
	padding-top: 20px;
	text-decoration: none;
}

.linkToMe {
	position: relative;
	left: 120px;
}

/*NAME*/

#animate-nameP {
	animation-name: animatenameP;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 400ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameP {
	0% {
		color: transparent;
		position: relative;
		right: 200px;
	}

	30% {
		color: transparent;
	}

	100% {
		color: white;
		position: relative;
		right: 0px; 
	}
}

#animate-nameR {
	animation-name: animatenameR;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 400ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameR {
	0% {
		color: transparent;

	}

	50% {
		color: transparent;

	}

	100% {
		color: white;

	}
}

#animate-nameI {
	animation-name: animatenameI;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 466.667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameI {
	0% {
		color: transparent;

	}

	50% {
		color: transparent;

	}

	100% {
		color: white;

	}
}

#animate-nameN {
	animation-name: animatenameN;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 66.6667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameN {
	0% {
		color: transparent;
		position: relative;
		bottom: 200px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		bottom: 0px;
	}
}

#animate-nameC {
	animation-name: animatenameC;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 266.667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameC {
	0% {
		color: transparent;
		position: relative;
		top: 200px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		top: 0px;
	}
}

#animate-nameE {
	animation-name: animatenameE;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 133.333ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameE {
	0% {
		color: transparent;
		position: relative;
		top: 300px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		top: 0px;
	}
}

#animate-nameT {
	animation-name: animatenameT;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 166.667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameT {
	0% {
		color: transparent;
		position: relative;
		bottom: 400px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		bottom: 0px;
	}
}

#animate-nameO {
	animation-name: animatenameO;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 500ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameO {
	0% {
		color: transparent;
		position: relative;
		top: 300px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		top: 0px;
	}
}

#animate-nameN2 {
	animation-name: animatenameN2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 400ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameN2 {
	0% {
		color: transparent;
		position: relative;
		bottom: 200px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		bottom: 0px;
	}
}

#animate-nameC2 {
	animation-name: animatenameC2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 533.333ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameC2 {
	0% {
		color: transparent;

	}

	50% {
		color: transparent;

	}

	100% {
		color: white;

	}
}

#animate-nameO2 {
	animation-name: animatenameO2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 300ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameO2 {
	0% {
		color: transparent;

	}

	50% {
		color: transparent;

	}

	100% {
		color: white;

	}
}

#animate-nameL {
	animation-name: animatenameL;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 666.667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameL {
	0% {
		color: transparent;
		position: relative;
		bottom: 300px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		bottom: 0px;
	}
}

#animate-nameL2 {
	animation-name: animatenameL2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 500ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameL2 {
	0% {
		color: transparent;
		position: relative;
		top: 300px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		top: 0px;
	}
}

#animate-nameI2 {
	animation-name: animatenameI2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 566.667ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameI2 {
	0% {
		color: transparent;
		position: relative;
		bottom: 300px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		bottom: 0px;
	}
}

#animate-nameN3 {
	animation-name: animatenameN3;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 333.333ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameN3 {
	0% {
		color: transparent;
		position: relative;
		top: 200px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		top: 0px;
	}
}

#animate-nameS {
	animation-name: animatenameS;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 300ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatenameS {
	0% {
		color: transparent;
		position: relative;
		left: 400px;
	}

	50% {
		color: transparent;

	}

	100% {
		color: white;
		position: relative;
		left: 0px;
	}
}

/*NOT USING THIS AT THE MOMENT*/

/*.hexcontainer {
	position: relative;
	bottom: 9px;
	float: left;
	padding-left: 20%;
}

.hex {
	float: left;
	margin-left: 10px;
	margin-bottom: -20px;
}

.hex .top {
	width: 0;
	border-bottom: 30px solid white;
	border-left: 47px solid transparent;
	border-right: 47px solid transparent;
}

.hex .bottom {
	width: 0;
	border-top: 30px solid white;
	border-left: 47px solid transparent;
	border-right: 47px solid transparent;
}

.hex .middle {
	width: 94px;
	height: 52px;
	background-color: white;
}

.hex-row {
	clear: left;
	margin-left: 100px;
}

.hex-row2 {
    clear: left;
    margin-left: 48px;
}*/

/*#animate-hex1{
	animation-name: animatehex1;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 300ms;
	animation-play-state: running;
	animation-fill-mode: forwards;
	-webkit-transition: .5 ease-out webkit-transform .5;
}

@keyframes animatehex1 {
	0% {
		position: relative;
		left: 400px;
	}

	100% {
		position: relative;
		left: 0px;
		border-top: 30px solid #f9654a;
		border-left: 47px solid transparent;
		border-right: 47px solid transparent;
		border-bottom: 30px solid white;
	}
}*/

/*video#fullscreen {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
}*/